<ion-header class="ion-no-border mb-5">
  <ion-text><h1 class="p-2">取引エラー</h1></ion-text>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="mb-3">
      <ion-col size="10" offset="1" class="ion-text-center">
        <ion-text class="text-xl">以下の内容をご確認ください</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="mb-3">
      <ion-col size="10" offset="1" class="">
        <ion-text class="text-l">{{ message }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>