<ion-header class="ion-no-border mb-5">
  <ion-text><h1 class="p-2">交通系電子マネー > 残高照会</h1></ion-text>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="mb-3">
      <ion-col size="10" offset="1" class="">
        <ion-text class="text-l">決済端末を操作してください</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="mb-3">
      <ion-col size="10" offset="1" class="">
        <ion-text class="text-m">エラーが発生した場合はお近くの店員をお呼びください</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="backToPaymentMenu()" color="medium" class="btn-h80 m-3">
        <ion-text class="text-s"><fa-icon icon="angle-left"></fa-icon> お支払い方法の選択に戻る</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" class="ion-text-center">
      <ion-text color="primary" class="text-l">決済端末<br /><fa-icon icon="caret-down"></fa-icon></ion-text>
    </ion-col>
    <ion-col size="3" class="ion-text-center">
      <ion-text color="medium" class="text-l">QR読取<br /><fa-icon icon="caret-down"></fa-icon></ion-text>
    </ion-col>
    <ion-col size="3" class="ion-text-center">
      <ion-text color="medium" class="text-l">硬貨<br /><fa-icon icon="caret-down"></fa-icon></ion-text>
    </ion-col>
    <ion-col size="3" class="ion-text-center">
      <ion-text color="medium" class="text-l">紙幣<br /><fa-icon icon="caret-down"></fa-icon></ion-text>
    </ion-col>
  </ion-row>
</ion-footer>
