<ion-header class="ion-no-border">
  <ion-text><h1 class="p-2">ご確認ください</h1></ion-text>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="mb-3">
      <ion-col size="10" offset="1" class="ion-text-center">
        <ion-text class="text-xl">混雑時はお席を確保してから<br />ご注文をお願いいたします</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="4">
        <ion-button (click)="toCouponHome('eatin')" expand="block" class="btn-h200">
          <ion-text class="text-xl">注文する</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>