<ion-content>
  <ion-header class="ion-no-border mb-5">
    <ion-text><h1 class="p-2">ご注文完了</h1></ion-text>
  </ion-header>
  <ion-row class="mb-3">
    <ion-col size="10" offset="1" class="ion-text-center">
      <ion-text class="text-xl">ご注文ありがとうございます</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="mb-3">
    <ion-col size="10" offset="1" class="ion-text-center">
      <ion-text class="text-xl">レシートに表示の <b>お客様番号</b> でご案内いたします</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="mb-3">
    <ion-col size="10" offset="1" class="ion-text-center">
      <ion-text class="text-xl">商品受け取りカウンターにてお待ちください</ion-text>
    </ion-col>
  </ion-row>
  <div class="hidden">
    <canvas id="canvas" width="200" height="150"></canvas>
    <canvas id="canvasFooter" width="200" height="150"></canvas>
  </div>
</ion-content>

